<div class="row beta-popout">
    <div class="col-md-5">
        <div class="seven columns beta img">
            <img src="/Content/Images/beta.png" alt="try out beta">
        </div>
        <div class="nine columns beta form">
            <h3>Let us know if you would like to try out the beta.</h3>
            <form action="" class="beta">
                <input type="text" class="beta name" placeholder="your name here..." required>
                <input type="email" class="beta email" placeholder="your email here..." required>
                <input type="text" class="beta msg" placeholder="any message for us...">
                <button class="beta send">Send</button>
            </form>
        </div>
    </div>
    <hr>
    <div class="col-md-6">
        <div class="six columns demo img">
            <a href="/demo">
                <img src="/Content/Images/demo.png" alt="try the demo">
            </a>
        </div>
    </div>
</div>   